# Tools 

alias mp3="youtube-dl -i --extract-audio --audio-format mp3 --audio-quality 0 --embed-thumbnail "

# Navigation
alias cd2="cd ../.."
alias cd3="cd ../../.."
alias cd4="cd ../../../.."

# Shortcuts
alias dt="cd ~/Desktop"
alias g="git"
alias h="history"
alias j="jobs"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
